extends ../layout

block content
  a(href='/bicicletas') Volver a la lista de Bicicletas
  
  br
  br
  br 

  h1 Nueva Bicicleta

  br
  br

  form(action='/bicicletas/create', method='POST')
    label(for="id") ID:
    input#id(type='text', name='id')
    br
    label(for="marca") Marca:
    input#marca(type='text', name='marca')
    br
    label(for="modelo") Modelo:
    input#modelo(type='text', name='modelo')
    br
    label(for="color") Color:
    input#color(type='text', name='color')
    br
    label(for="precio") Precio:
    input#precio(type='text', name='precio')
    br
    label(for="lat") Latitud:
    input#latitud(type='text', name='lat')
    br
    label(for="lng") Longitud:
    input#longitud(type='text', name='lng')
    br
    label(for="vendida") Vendida:
    input#vendida(type='text', name='vendida')
    br
    br      
    input.btn.btn-primary(type='submit' value='OK')